[submodule "stm32cube_fw_h7_v1_3_0"]
	path = external/stm32cube_fw_h7_v1_3_0
	url = git@bitbucket.org:suburbanmarine/stm32cube_fw_h7_v1_3_0.git
[submodule "freertos_cpp_util"]
	path = external/freertos_cpp_util
	url = git@github.com:jacobschloss/freertos_cpp_util.git
[submodule "external/common_util"]
	path = external/common_util
	url = git@bitbucket.org:suburbanmarine/common_util.git
[submodule "external/emb_fs_util"]
	path = external/emb_fs_util
	url = git@bitbucket.org:jschloss_sm/emb_fs_util.git
[submodule "external/spiffs"]
	path = external/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/tinyxml2_util"]
	path = external/tinyxml2_util
	url = git@github.com:jacobschloss/tinyxml2_util.git
[submodule "external/mbedtls_util"]
	path = external/mbedtls_util
	url = git@github.com:jacobschloss/mbedtls_util.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = git@bitbucket.org:suburbanmarine/mbedtls.git
[submodule "external/bootloader_util"]
	path = external/bootloader_util
	url = git@bitbucket.org:jschloss_sm/bootloader_util.git
[submodule "external/crc"]
	path = external/crc
	url = git@bitbucket.org:suburbanmarine/crc.git
[submodule "external/stm32cube_fw_h7_v1_4_0"]
	path = external/stm32cube_fw_h7_v1_4_0
	url = git@bitbucket.org:suburbanmarine/stm32cube_fw_h7_v1_4_0.git
