[submodule "freertos_cpp_util"]
	path = external/freertos_cpp_util
	url = git@github.com:jacobschloss/freertos_cpp_util.git
[submodule "external/spiffs"]
	path = external/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/libusb_dev_cpp"]
	path = external/libusb_dev_cpp
	url = git@github.com:jacobschloss/libusb_dev_cpp.git
[submodule "external/common_util"]
	path = external/common_util
	url = git@github.com:suburbanembedded/common_util.git
[submodule "external/mbedtls_util"]
	path = external/mbedtls_util
	url = git@github.com:suburbanembedded/mbedtls_util.git
[submodule "external/emb_fs_util"]
	path = external/emb_fs_util
	url = git@github.com:suburbanembedded/emb_fs_util.git
[submodule "external/crc"]
	path = external/crc
	url = git@github.com:suburbanembedded/crc.git
[submodule "external/bootloader_util"]
	path = external/bootloader_util
	url = git@github.com:suburbanembedded/bootloader_util.git
[submodule "external/tinyxml2_util"]
	path = external/tinyxml2_util
	url = git@github.com:suburbanembedded/tinyxml2_util.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = git@github.com:ARMmbed/mbedtls.git
[submodule "external/stm32cube_fw_h7_v1_4_0"]
	path = external/stm32cube_fw_h7_v1_4_0
	url = git@github.com:suburbanembedded/stm32cube_fw_h7_v1_4_0.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = git@github.com:suburbanembedded/cmake-modules.git
